.custom-container {
    height: 100vh;
    overflow: hidden;
}

.custom-logo {
    margin: auto 5rem;
}

.custom-side {
    background-color: rgb(189, 189, 189);
    height: 100vh;
}

.custom-comment {
    top: 10%;
    width: 40%;
    background: rgb(236, 188, 188);
}

.recipe-card-container {
    background-color: rgb(189, 189, 189);
    overflow-y: scroll;
    height: 90%;
}

.custom-card {
    margin: 10px;
    background-color: white;
    height: auto;
}

/**Scrollbar Accessories**/
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #e0e0e0;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}