/**Fonts**/
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');


:root {
    --earthgreen: #363E24;
    --mossgreen: #626945;
    --warmyellow: #CEA452;
    --softcream: #E3DDC5;
}

/**Custom Styling**/
.custom-container {
    height: 100vh;
    overflow: hidden;
    background-color: var(--softcream);
    overflow-y: hidden;
    position: relative;
}

.custom-nav {
    background: var(--warmyellow);
    box-shadow: var(--softcream) 0 1px 0,
    var(--warmyellow) 0 2px 0;
    position: sticky;
    top: 0;
    z-index: 3;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 1.8em;
}

.custom-nav::before {
    content: "";
    position: absolute;
    z-index: 2;
    width: 30px;
    height: 30px;
    bottom: -2px;
    left: 0;
    border-right: var(--softcream) 1px solid;
    border-top: var(--softcream) 1px solid;
    box-shadow: var(--warmyellow) -1px -1px 0 inset,
    var(--warmyellow) 1px -1px 0 inset,
    var(--warmyellow) -1px 1px 0 inset,
    var(--softcream) -2px 2px 0 inset,
    var(--softcream) 2px -2px 0 inset;
}

.custom-nav::after {
    content: "";
    position: absolute;
    z-index: 2;
    width: 30px;
    height: 30px;
    bottom: -2px;
    right: 0;
    border-left: var(--softcream) 1px solid;
    border-top: var(--softcream) 1px solid;
    box-shadow: var(--warmyellow) -1px -1px 0 inset,
    var(--warmyellow) 1px -1px 0 inset,
    var(--warmyellow) -1px 1px 0 inset,
    var(--softcream) -2px 2px 0 inset,
    var(--softcream) 2px -2px 0 inset;
}

.custom-logo {
    margin: auto 5rem;
    font-family: 'Marcellus', serif;
    animation: slideIn .4s;
    color: white;
    text-shadow: var(--mossgreen) 2px 2px 0;
}

.custom-side {
    background: #cac2a2;
    height: auto;
    padding: 2em 2em 2em 3.6em;
    position: relative;
}

.custom-comment {
    top: 10%;
    width: 40%;
    background: rgb(236, 188, 188);
}

.recipe-card-container {
    height: 93vh;
    overflow-y: auto;
}

.custom-card {
    margin: 10px;
    background-color: white;
    height: auto;
    transition: opacity .8s ease-in;
    position: relative;
    box-shadow: 3px 3px var(--mossgreen), 
    5px 5px var(--softcream), 
    6px 6px var(--mossgreen), 
    -2px -2px var(--softcream), 
    -3px -3px var(--mossgreen);
}

.custom-form {
    color: black;
    animation: .5s slideIn 1s forwards;
    opacity: 0;
}

.form-style {
    border: 2px var(--mossgreen) solid;
    transition: all .5s ease-in-out;
    background: #ffffff;
    color: #000000;
}

.form-style:hover {
    border: 2px var(--mossgreen) solid;
    transition: all .5s ease-in-out;
}

.custom-form select {
    width: 10rem;
    margin: 0 1rem 0 0;
}

#keyword-text {
    width: 15rem;
    margin: 0 1rem 0 0;
}

.custom-submit {
    width: 8rem;
    background: white;
    border: var(--mossgreen) 2px solid;
}

.custom-submit:hover {
    box-shadow: inset 2px 2px var(--softcream),
    inset -2px -2px var(--softcream),
    var(--warmyellow) 4px 4px inset,
    var(--warmyellow) -4px -4px inset,
    inset 1.4em 1.4em var(--softcream),
    inset -1.4em -1.4em var(--softcream);
}

.hidden {
    opacity: 0;
}

/**Scrollbar Accessories**/
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #e0e0e0;
}

::-webkit-scrollbar-thumb {
    background: var(--earthgreen);
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--warmyellow);
}

.hidden {
    display: none;
}

/**Recipe Styling**/
.recipe-card {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 1fr;
    gap: 1em;
    height: fit-content
}

.recipe-card-img {
    width: 200px;
    box-shadow: var(--warmyellow) 4px 4px 0;
    grid-area: 1/4;
    box-shadow: var(--warmyellow) 4px 4px 0, var(--mossgreen) -4px 4px 0;
}

.recipe-card-info {
    width: auto;
    border-right: 1px var(--earthgreen) solid;
    box-shadow: 2px 0 0 var(--warmyellow);
}

.recipe-card-info h3 {
    font-size: 2rem;
}


.recipe-card-nutrition {
    width: auto;
    margin-top: 3em;
}

.recipe-card-nutrition-label {
    border: black 2px solid;
    font-family: 'Helvetica', 'Arial', sans-serif;
    height: fit-content;
    text-align: center;
    grid-area: 4/4;
}

.recipe-card-nutrition-label > h4 {
    font-weight: 999;
    font-size: 2rem;
    text-decoration: underline solid black;
}

.recipe-card-nutrition-label > span {
    font-weight: 700;
    margin-right: 30%;
}

.recipe-card-ingredient-list {
    grid-area: 3/4;
}

.saved-recipe-container {
    background: white;
    height: 100%;
    overflow-y: auto;
    box-shadow: 5px 5px var(--softcream);
    border: 1px var(--softcream) solid;
}

.saved-recipe-button {
    width: 100%;
    height: auto;
    margin-bottom: 4%;
}

.clear-recipe-history {
    margin: 0 auto;
    width: 100%;
    top: 0;
    background: white;
}

.save-button {
    position: absolute;
    top: 30px;
    background: var(--warmyellow);
    transition: background .5s;
}

.expand-button {
    position: absolute;
    left: 50%;
    bottom: 5px;
    background: var(--warmyellow);
    transition: background .5s;
}

.custom-card button {
    background: var(--warmyellow);
    transition: background .5s;
    box-shadow: var(--softcream) 1px 1px 0 inset,var(--softcream)-1px -1px 0 inset, var(--softcream) -1px 1px 0 inset, var(--softcream) 1px -1px 0 inset;
    border: var(--mossgreen) 4px double;
    border-radius: 20px;
}

.custom-card button:hover {
    background: #f7a121;
    transition: background .5s;
}

.close-button {
    position: absolute;
    left: 50%;
    bottom: 5px;
}

/**Animation**/
@keyframes slideIn {
    0% {
        opacity: 0;
        transform:translateX(-20px)
    }
    100% {
        opacity: 1;
    }
}


@media screen and (max-width: 960px) {
    .custom-container{
        width: 100%;
        overflow-y: auto;
    };
    
    .recipe-card-container {
        width: 100vw;
    };
};

@media screen and (max-width: 400px) {
    .recipe-card-container {
        height: 90vh;
        width: 100vw;
    };

    .custom-container{
        width: 100%;
    };

    .custom-nav {
        flex: 1 1 400px;
        flex-direction: column;
    };

    .custom-logo {
        text-align: center;
    };

    .custom-side {
        height: 60vh;
    };

    .custom-form {
        display: flex;
        flex-direction: column;
        text-align: center;
    };

    .recipe-card-img {
        height: 100px;
    }
};
